

ul {
  list-style-type: none;  
  margin: 10px;
  padding-left: 10px;
}

.choose_options h2 {
  margin: 00px;
  background-color: lightgreen;
  background-size: 110%;
  text-indent: 10px;
  padding: 5px;
}

#orderButton {
  margin: 15px;
  border-radius: 5px;
  border: 2px solid black;
  width: fit-content;
  font-size: 20px;
}

#orderButton:active{
  background-color: lightcoral;
}

.choose_options {
  display: flex;
  margin: 10px;
}
.choose_paint, .choose_interior, .choose_tech, .choose_wheels {
  border: 2px dashed black;
  flex-basis: 25%;
  margin: 5px;
}

.customOrders {
  max-width: fit-content;
  border: 2px dashed red;
  padding: 15px;
  margin: auto;
}